.mixin-formInputs() {
  width: 100%;
  padding: 10px 0;
  border: none;
  border-bottom: 1px solid;
  background: transparent;
  outline: none;
}

.mixin-background(){
  background: url("https://static.collectui.com/shots/3603919/corridor-large");
  background-repeat: no-repeat;
  background-position:center;
}